<h2>Panier</h2>
<div class="card col-md-4">
  <div class="card-body">
    {% if items | length > 0 %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Qté</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td>{{ item.product.name }}</td>
              <td>{{ ( item.product.price / 100) | format_currency('EUR', locale='FR_fr') }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ (( item.quantity * item.product.price) / 100) | format_currency('EUR', locale='FR_fr') }}</td>
              <td>
                <a href=" {{ path('cart_remove', { 'id':item.product.id }) }} " class="btn btn-danger btn-sm  float-right" onclick="return confirm('⚠️ comfirmez vous la suppression de la ligne')">🗑️</a>
              </td>
              {# <td>
                <a href=" {{path('add_cart', {'id':cart.plat.id}) }} " class="btn btn-danger btn-sm float-right"><i class="fab fa-opencart"></i></a>
              </td> #}
            </tr>

          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="text-end">Total :
            </td>
            <td>
              {{( total / 100) | format_currency('EUR', locale='FR_fr')}}
            </td>
            <td></td>
          </tr>
        </tfoot>
      </table>

    {% else %}
      <h4 class="mb-2 text-danger text-center">Vous n'avez encore rien mis dans votre panier</h4>
    {% endif %}


  </div>
