{% extends 'comments/layout.html.twig' %}

{% block title %}
  {% trans %}Gestion des commentaires{% endtrans %}
{% endblock %}

{% block body %}

  <div class="row">
    <div class="d-xs-none d-mb-block col-lg-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <h1 class=" px-sm-4 my-5">{% trans %}Gestion des commentaires{% endtrans %}</h1>
      <div class=" px-sm-4 mt-5 table-responsive">

        <table class="table table-striped bg-white">
          <thead>
            <tr>
              <th>Id</th>
              <th>{% trans %}Commentaire{% endtrans %}</th>
              <th>{% trans %}Actif{% endtrans %}</th>
              <th>{% trans %}Email{% endtrans %}</th>
              <th>{% trans %}Pseudo{% endtrans %}</th>
              <th>{% trans %}Validation des Conditions d’Utilisations des Données{% endtrans %}</th>
              <th>{% trans %}Date de création{% endtrans %}</th>
              <th>actions</th>
            </tr>
          </thead>
          <tbody>
            {% for comment in comments %}
              <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.active ? 'Yes' : 'No' }}</td>
                <td>{{ comment.email }}</td>
                <td>{{ comment.pseudo }}</td>
                <td>{{ comment.compliance ? 'Yes' : 'No' }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                  <a href="{{ path('app_comments_show', {'id': comment.id}) }}">{% trans %}Détails{% endtrans %}</a>
                  <a href="{{ path('comments_edit', {'id': comment.id}) }}">{% trans %}Edition{% endtrans %}</a>
                </td>
              </tr>
            {% else %}
              <tr>
                <td colspan="8">no records found</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <a class="btn btn-default ms-3" href=" {{ path('admin') }} ">Retour au tableau de bord </a>
    </div>
    <div class="d-xs-none d-mb-block col-lg-2"></div>
  </div>


{% endblock %}
