{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Bienvenu sur le tableau de bord'|trans %}

{% block main %}
  <div class="container">
    <div class="row bg-info mb-3">
      <div class="col-6 text-white border border-left  py-3">
        <span class="fs-5">{{ countAllUsers }}
          Nombre d'utilisateurs</span>
      </div>
      <div class="col-6"></div>
    </div>
    <div class="row mt-2">
      <table class="table text-center table-striped display">
        <thead>
          <tr>
            <th>ID</th>
            <th>{% trans %}Nom d'utilisateur{% endtrans %}</th>
            <th>{% trans %}Rôle{% endtrans %}</th>
            <th>{% trans %}Date d'inscription{% endtrans %}</th>
          </tr>
        </thead>
        <tbody>
          {% for resultat in resultats %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{resultat.email}}</td>
              <td>{{resultat.roles | json_encode}}</td>
              <td>{{resultat.createdAt |date("m/d/Y") }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-6"><canvas id="myChart" class="img-thumbnail" width="400" height="400"></canvas></div>
    <div class="col-md-6"></div>
  </div>
{% endblock %}
